<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Foo" value="Bar" />
  </appSettings>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestDB;Integrated Security=true;MultipleActiveResultSets=True;" />
  </connectionStrings>
</configuration>